{% extends "base.html" %}{% load static %} {% block page_content %}

<style>
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  /* Center the sections */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-pic {
    max-width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .skillset {
    margin-bottom: 20px;
  }

  /* Style the headings */
  h2 {
    color: #333;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  ul,
  li {
    font-size: 35px;
    font-style: italic;
    font-weight: normal;
  }
  /* Style the description */
  p {
    font-size: 35px;
    color: #666;
  }
</style>

<!-- Profile Picture Section -->
<div>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <img
      class="profile-pic"
      src="{% static home.image %}"
      alt="Profile Picture"
    />
  </div>

  <!-- Skill Sets Section -->
  <div class="skillset">
    <h2>Skill Sets</h2>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <ul>
        <li>Python</li>
        <li>Django</li>
        <li>Java</li>
        <li>HTML/CSS/JavaScript</li>
        <li>Git</li>
        <li>SQL</li>
        <!-- Add more skill sets here -->
      </ul>
    </div>
  </div>

  <!-- Description Section -->
  <div>
    <h2>About Me</h2>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <p>{{home.description}}</p>
    </div>
  </div>
</div>
{% endblock %}
